body {
    font-family: Arial, sans-serif;
    background-image: url('imagens/logo_camptecnica.jpg');
    background-size: cover;           /* Faz a imagem cobrir toda a tela */
    background-position: center;      /* Centraliza a imagem */
    background-repeat: no-repeat;     /* Evita que a imagem se repita */
    background-attachment: fixed;     /* Faz a imagem ficar fixa no fundo */
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

h2 {
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
h3 {
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

h4 {
    color: black;
    font-size: 45px;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
}


main {
    padding: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#resultado {
    margin-top: 20px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.equipamento {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 10px;
}
.peca {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 10px;
}